body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.board-game {
  display: grid;
  grid-template-columns: repeat(3, 150px);
}

.board-game span {
  font-weight: bold;
  padding: 60px;
  background-color: #222;
  color: #646cff;
  font-size: 24px;
  border: 1px solid #7b7b7b;
}
